.img img{
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}

.product:hover .img img {
    transform: scale(115%);
    -webkit-transform: scale(115%);
    -moz-transform: scale(115%);
    -ms-transform: scale(115%);
    -o-transform: scale(115%);
}

.product {
  cursor: pointer;
}