textarea{
  resize: none;
}

.close-icon{
  height: 30px !important;
  width: 30px !important;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}


@media screen and (max-width:992px) {
    .form{
      width: 100% !important;
    }
}